@model PaginatedList<BLL.App.DTO.DomainLikeDTO.Order>

@{
    ViewData["Title"] = @Resources.Views.Common.Index;
}

<h1>@Resources.Domain.Order.Header @Resources.Views.Common.Index</h1>

<hr/>
<div class="create-button-div">
    <a asp-action="Create" class="btn btn-block btn-warning">@Resources.Views.Common.CreateNew</a>
</div>
<form asp-action="Index" method="get">
    <partial name="_SearchPartial"/>
</form>
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Resources.Domain.Order.Description
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CreationTimeSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Resources.Domain.Order.OrderCreationTime
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ShipperSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Resources.Domain.Order.Shipper
                    </a>
                </th>
                <th>
                    @Resources.Domain.Order.ProductsInOrder
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCreationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipper.ShipperName)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@item.ProductsInOrder.Count</a>
                    </td>
                    <td>
                        <a asp-action="AddProductToOrder" asp-route-id="@item.Id" class="btn bg-warning btn-extra">
                            <i class="nav-icon fa fa-plus"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn bg-info btn-extra">
                            <i class="nav-icon fa fa-info"></i>
                        </a>
                        @if (item.ProductsInOrder.Count == 0)
                        {
                            <a asp-action="OrderReceived" asp-route-id="@item.Id" class="btn bg-primary btn-extra disabled">
                                <i class="nav-icon fa fa-check"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-action="OrderReceived" asp-route-id="@item.Id" class="btn bg-primary btn-extra">
                                <i class="nav-icon fa fa-check"></i>
                            </a>
                        }
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn bg-success btn-extra">
                            <i class="nav-icon fa fa-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn bg-danger btn-extra">
                            <i class="nav-icon fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<partial name="_PaginationPartial"/>