@model CategoryCreateViewModel

@{
    ViewData["Title"] = @Resources.Views.Common.Create;
}

<h1>@Resources.Views.Common.Create @Resources.Domain.Category.Header</h1>
<hr/>
<div>
    <div class="col-md-6">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">@Resources.Views.Common.CreateNew @Resources.Domain.Category.Header</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Category.CategoryName" class="control-label"></label>
                        <input asp-for="Category.CategoryName" class="form-control"/>
                        <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category.Shop" class="control-label"></label>
                        <select asp-for="Category.ShopId" class ="form-control select-auto-complete" asp-items="Model.ShopSelectList"></select>
                        <span asp-validation-for="Category.ShopId" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn bg-warning float-right">@Resources.Views.Common.Submit</button>
                    <a asp-action="Index" class="btn btn-default">@Resources.Views.Common.Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
