@model BLL.App.DTO.DomainLikeDTO.Order

@{
    ViewData["Title"] = @Resources.Views.Common.Details;
}

<h1>@Resources.Domain.Order.Header @Resources.Views.Common.Details</h1>
<hr/>
<div class="col-md-6">
    <div class="card">
        <div class="card-body table-responsive p-0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderCreationTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shipper)
                    </th>
                    <th>
                        @Resources.Domain.Order.ProductsInOrder
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.OrderCreationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Shipper.ShipperName)
                    </td>
                    <td>
                        @Model.ProductsInOrder.Count
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-default">@Resources.Views.Common.Cancel</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn bg-success">
            @Resources.Views.Common.Edit <i class="nav-icon fa fa-pencil"></i>
        </a>
    </div>
    <hr/>
    <div class="card">
        <div class="card-body table-responsive p-0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        @Resources.Domain.Order.ProductName
                    </th>
                    <th>
                        @Resources.Domain.Order.Quantity
                    </th>
                    <th>
                        @Resources.Domain.Order.ProductsInOrderPlacingTime
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.ProductsInOrder)
                {
                    <tr>
                        <td>
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                                @Html.DisplayFor(modelItem => item.Product.ProductName)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductInOrderPlacingTime)
                        </td>
                        <td>
                            <a asp-controller="ProductsInOrder" asp-action="Edit" asp-route-id="@item.Id" class="btn bg-success btn-extra"><i class="nav-icon fa fa-pencil"></i></a>
                            <a asp-controller="ProductsInOrder" asp-action="Delete" asp-route-id="@item.Id" class="btn bg-danger btn-extra"><i class="nav-icon fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>