@model UserCreateViewModel

@{
    ViewBag.Title = @Resources.Views.Common.Edit + " " + @Resources.Domain.AppUser.EditHeader;
}

<h1>@Resources.Views.Common.Edit @Resources.Domain.AppUser.EditHeader</h1>
<hr/>
<div>
    <div class="col-md-6">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">@Resources.Views.Common.Edit @Resources.Domain.AppUser.EditHeader</h3>
            </div>
            <form asp-action="Edit">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AppUser.FirstName" class="control-label"></label>
                        <input asp-for="AppUser.FirstName" class="form-control" disabled/>
                        <span asp-validation-for="AppUser.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppUser.LastName" class="control-label"></label>
                        <input asp-for="AppUser.LastName" class="form-control" disabled/>
                        <span asp-validation-for="AppUser.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppUser.Aadress" class="control-label"></label>
                        <input asp-for="AppUser.Aadress" class="form-control" disabled/>
                        <span asp-validation-for="AppUser.Aadress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AppUser.Shop" class="control-label"></label>
                        <select asp-for="AppUser.ShopId" class="form-control select-auto-complete" asp-items="Model.ShopsSelectList">
                            <option value="">---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedRoles" class="control-label"></label>
                        <select asp-for="SelectedRoles" class="form-control select-multiple" asp-items="Model.RolesSelectList" multiple="multiple">
                        </select>
                    </div>
                    <input type="hidden" asp-for="AppUser.Id"/>
                    <input type="hidden" asp-for="AppUser.Id"/>
                    <input type="hidden" asp-for="AppUser.FirstName"/>
                    <input type="hidden" asp-for="AppUser.LastName"/>
                    <input type="hidden" asp-for="AppUser.Aadress"/>
                    <button type="submit" class="btn bg-success float-right">
                        @Resources.Views.Common.Edit <i class="nav-icon fa fa-pencil"></i>
                    </button>
                    <a asp-action="Index" class="btn btn-default">@Resources.Views.Common.Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}