@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @Resources.Identity.AccountManage.ResetPassword;
}

<h1>@ViewData["Title"]</h1>
<p>
    @Resources.Identity.AccountManage.PasswordHasBeenReset <a asp-page="./Login">@Resources.Views.Common.Login @Resources.Identity.AccountManage.Here</a>.
</p>
