@model WebApp.Models.CommentCreateViewModel

@{
    ViewData["Title"] = @Resources.Views.Common.Create;
}

<h1>@Resources.Views.Common.Create @Resources.Domain.Comment.Header</h1>
<hr />
<div>
    <div class="col-md-6">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">@Resources.Views.Common.CreateNew @Resources.Domain.Comment.Header</h3>
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Comment.CommentTitle" class="control-label"></label>
                        <input asp-for="Comment.CommentTitle" class="form-control"/>
                        <span asp-validation-for="Comment.CommentTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment.CommentBody" class="control-label"></label>
                        <input asp-for="Comment.CommentBody" class="form-control"/>
                        <span asp-validation-for="Comment.CommentBody" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment.Product" class="control-label"></label>
                        <select asp-for="Comment.ProductId" class="form-control select-auto-complete" asp-items="Model.ProductSelectList"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comment.Shop" class="control-label"></label>
                        <select asp-for="Comment.ShopId" class ="form-control select-auto-complete" asp-items="Model.ShopSelectList"></select>
                    </div>
                    <button type="submit" class="btn bg-warning float-right">@Resources.Views.Common.Submit</button>
                    <a asp-action="Index" class="btn btn-default">@Resources.Views.Common.Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}